<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
		<script src="/public/js/jquery-3.1.1.slim.min.js"></script>
		<script src="/public/js/tether.min.js"></script>
		<script src="/public/js/bootstrap.min.js"></script>
		<title>Aplikasi</title>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class="navbar-brand" href="#">
						<img src="/public/images/Stickies.png" width="30" height="30" class="d-inline-block align-top" alt="">
						Arsip Capil
					</a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="#">Cari<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Rekap</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<a href="javascript:;">
						<img src="/public/images/KeyChainAccess.png" width="30" height="30" class="d-inline-block align-top" alt="">
					</a>
				</form>
			</div>
		</nav>
		<div class="container" style="padding-top:2em;">
			Arsip Capil
		</div>
	</body>
</html>